.morpion-player-table{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    td{
        padding: 5px;
        border: 1px solid black;
    }

    .player1{
        background-color: #40128B;
        color: #ffffff;
    }
    .player2{
        background-color: #F24C3D;
        color: #ffffff;
    }
}
