@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'reset-css';
@import 'variable';
@import 'auth';
@import 'dashboard';
@import 'sidebar';
@import 'navbar';
@import 'home';
@import 'widget';
@import 'table';
@import 'datatable';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    .swal2-modal{
        display: grid;
        justify-items: center;
        padding-top: 30px;
        }

        
}
